<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>964304194034-689ujk1r8g0m10ke674f708luknnrchq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964304194034-689ujk1r8g0m10ke674f708luknnrchq</string>
	<key>API_KEY</key>
	<string>AIzaSyCp2BBRM1X96oDSnFGVwwKonGwcnA1VuLE</string>
	<key>GCM_SENDER_ID</key>
	<string>964304194034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.ruzickalukas.EweBook</string>
	<key>PROJECT_ID</key>
	<string>ewebook</string>
	<key>STORAGE_BUCKET</key>
	<string>ewebook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964304194034:ios:9fe5abefe928048f</string>
	<key>DATABASE_URL</key>
	<string>https://ewebook.firebaseio.com</string>
</dict>
</plist>